@use 'styles/variables' as *;
.link{
  display: flex;
  align-items: center;
  gap: $space-sm;
  padding: $space-sm $space-md ;
  border-radius: $radius-sm;
  max-width: 16rem;
  color: $primary;

  i{
    color: $primary;
  }

  p{
    font-size: $body-md;
    font-weight: $font-weight-semibold;
  }

  &.active{
    background-color: $primary;
    color: $on-primary;
    i{
      color: $on-primary;
    }
  }
}

@media (min-width: $bp-lg){
  .link{
    padding: $space-xs 0;
    &.active{
      border-radius: 0;
      border-bottom: 2px solid;
      background-color: transparent;
      color: $primary;
      i{
        color: $primary;
      }
    }
    &:hover{
      cursor: pointer;
      border-bottom: 2px solid;
      border-radius: 0;
    }
  }
}
