@use 'styles/variables' as *;

nav{
  display: flex;
  padding: $space-md $space-xl;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: $surface;
  gap: $space-md;
}

.company-logo{
  display: flex;
  align-items: center;
  gap: $space-md;

  img{
    width: 100%;
    min-width: 1.5rem;
    max-width: 2.6rem;
  }

  p{
    color: $primary-container;
    font-family: "Public Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3rem; /* 133.333% */
    letter-spacing: -0.075rem;
    text-transform: uppercase;
  }
}
.desktop-menu{
  display: none;
}
#menu-icon{
  font-size: 1.5rem;
}

li{
  list-style: none;
  color: $neutral;
  &:hover{
    cursor: pointer;
    color: $primary;
  }
}
#mobile-menu{
  
}
@media (min-width: $bp-md){
  nav{
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: $surface;
    gap: $space-md;
  }
  #menu-icon{
    display: none;
  }
  .desktop-menu{
    display: flex;
    gap: $space-md;
  }
}
