<nav>
  <div class="company-logo">
    <img src="/icons/logo.svg" alt="UrbanCore Logo">
    <p>URBAN<br>CORE</p>
  </div>

  <ul class="desktop-menu">
    @for (link of links; track $index) {
      <li [routerLink]="link.url">{{link.label}}</li>
    }
  </ul>

  <i (click)="onMenuIconClick()" id="menu-icon" [class]="menuIconClass()"></i>

  <ul id="mobile-menu" [class.hidden]="!isMenuOpen()">
    @for (link of links; track $index) {
      <li [routerLink]="link.url">{{link.label}}</li>
    }
  </ul>
</nav>

