@use 'styles/variables' as *;
.user-card{
  background-color: $surface-container-low;
  padding: $space-sm $space-md;
  border-radius: $radius-lg;
  display: flex;
  gap: $space-xl;
  align-items: center;
  max-width: 16rem;

  img{
    border-radius: 100%;
    height: fit-content;
  }
  .user-card__info{
    display: flex;
    flex-direction: column;
    gap: $space-xs;
    max-height:  ;
    p{
      font-size: $body-sm;
      margin: 0;
      &.name{
        font-weight: bold;
      }
      &.active_session{
        color: #34A273;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .6rem;
      }
    }
  }
}
