@use 'styles/variables' as *;

#desktop-navigation{
  width: 100%;
  display: flex;
  position: sticky;
  padding: $space-md $space-xl;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: $surface;
  gap: $space-md;

}
.company-logo{
  display: flex;
  align-items: center;
  gap: $space-md;

  img{
    width: 100%;
    min-width: 1.5rem;
    max-width: 2.6rem;
  }

  p{
    color: $primary-container;
    font-family: "Public Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3rem;
    letter-spacing: -0.075rem;
    text-transform: uppercase;
    margin: 0;
  }
}
.desktop-menu{
  display: none;
}
.menu-icon{
  font-size: 1.5rem;
  display: block;
  line-height: 1;
  color: $primary;
}
li{
  list-style: none;
  color: $neutral;
  &:hover{
    cursor: pointer;
    color: $primary-container;
  }
}
#mobile-navigation{
  position: absolute;
  top: 0;
  width: 85%;
  max-width: 20.1563rem;
  background-color: $surface;
  padding: $space-md $space-xl;
  height: 100vh;
  box-shadow: 20px 0px 193px -52px rgba(0,0,0,0.8);
  transition: transform 500ms ease-in-out;
  transform: translateX(-200%);
  display: flex;
  flex-direction: column;
  gap: $space-xl;

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }
  &.visible{
    transform: translateX(0);
  }
}

footer{
  margin-top: auto;
  margin-bottom: $space-xl;
}

.logout-button{
  display: flex;
  gap: $space-sm;
  align-items: center;
  color: $on-error-container;
  font-weight: $font-weight-semibold;
  padding: $space-sm $space-md ;
}

.login-button{
  display: flex;
  gap: $space-sm;
  align-items: center;
  background-color: $primary;
  color: $on-primary;
  font-weight: $font-weight-semibold;
  padding: $space-sm $space-md ;
  border-radius: $radius-md;
  margin-left: $space-md;
  transition: all 350ms ease-in-out;
}

.desktop-login-buttons{
  display: none;
}

@media (min-width: $bp-lg){
  #desktop-navigation{
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: $surface;
    gap: $space-md;
  }
  #open-menu-button{
    display: none;
  }
  .desktop-menu{
    display: flex;
    gap: $space-xl;
  }
  .login-button,.logout-button{
    &:hover{
      cursor: pointer;
    }
  }
  .login-button:hover{
    background-color: $on-primary;
    color: $primary;
    outline: $primary 2px solid;
    outline-offset: -2px;
  }
  .desktop-login-buttons{
    display: inline;
  }
}
