@use '../../../../../styles/variables' as *;

:host {
  display: block;
}

.form-layout {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: minmax(0, 7fr) minmax(20rem, 5fr);
}

.primary-column {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

@media (max-width: ($bp-lg - 1px)) {
  .form-layout {
    grid-template-columns: 1fr;
  }
}
