<article class="panel location-panel">
  <div class="section-title">
    <i class="icon fa-solid fa-location-dot"></i>
    <h2 id="location-title">Location</h2>
  </div>

  <div class="map-card">


    <button class="locate-button" type="button">
      <i class="fa-solid fa-location-crosshairs"></i>
      Locate Me
    </button>
  </div>

  <div class="location-fields">
    <label class="field address-field">
      <span>Street Address</span>
      <span class="input-with-icon">
        <input type="text" value="742 Evergreen Terrace, Sector 7G" aria-label="Street address" />
        <span class="material-symbols-outlined" aria-hidden="true">edit</span>
      </span>
    </label>

    <div class="notice">
      <i class="icon fa-solid fa-circle-info"></i>
      <p>Your GPS coordinates will be automatically bundled with this report for precision dispatching.</p>
    </div>
  </div>
</article>
